* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
html,
body {
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: #d5ff40;
}
nav {
    background-color: white;
    padding: 60px 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    
}
nav .part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}
nav h2{
    font-size: 30px;
    font-weight: 400;
}
nav a{
    font-size: 28px;
    font-weight: 100px;
    color: black;
    text-decoration: none;
}
